<div class="auth-container background">
  <div class="container">
    <div class="login-form">
      <h2>Login</h2>
      <form [formGroup]="loginFG" (ngSubmit)="login()">
        <div class="form-group">
          <label for="login">Login</label>
          <input type="text" class="form-control" id="login" formControlName="email" required>
        </div>
        <div class="form-group">
          <label for="password">Senha</label>
          <input type="password" class="form-control" id="password" formControlName="password" required>
        </div>
        <br /><br /><br />
        <button class="btn btn-primary bnt-entrar" type="submit">Entrar</button>
      </form>
    </div>
    <div class="vertical-bar"></div>
    <div class="signup-form">
      <h2>Cadastro</h2>
      <form [formGroup]="cadastroFG" (ngSubmit)="cadastro()">
        <div class="form-group">
          <label for="name">Nome</label>
          <input type="text" class="form-control" id="name" formControlName="name" required>
        </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" class="form-control" id="email" formControlName="email" required>
        </div>
        <div class="form-group">
          <label for="password">Senha</label>
          <input type="password" class="form-control" id="password" formControlName="password" required>
        </div>
        <br />
        <button class="btn btn-primary bnt-cadastrar" type="submit">Cadastrar</button>
      </form>
    </div>
  </div>
</div>
