.auth-container {
    display: flex;
    justify-content: center; // Centraliza horizontalmente
    align-items: center;     // Centraliza verticalmente
    height: 100vh;          // Opcional para centralização vertical na janela inteira
}


.container {
    height: 300px;
    width: 700px;
    display: flex;
}

.vertical-bar {
    width: 2px;        // Largura da barra
    height: 100%;     // Altura da barra
    background-color: #333; // Cor de fundo da barra
}
  
.login-form {
    margin-left: 0px;
    margin-right: 10px;
    width: 80%;
    height: 100%;
    float: left;
}

.signup-form {
    margin-left: 15px;
    width: 80%;
    height: 100%;
}

.background {
    background-image: linear-gradient(to right top, #5e7faf, #758cc1, #8e99d3, #a8a5e4, #c3b2f4);
}

.bnt-entrar {
    margin-top: 18px;
}

.bnt-cadastrar {
    margin-left: 228px;
}