<form [formGroup]="formGroup" (ngSubmit)="submit(myForm)" #myForm="ngForm">
  <input class="form-control mb-3" formControlName="nome" placeholder="nome" autocomplete="off">
  <input type="email" class="form-control mb-3" formControlName="email" placeholder="email" autocomplete="off">
  <input type="tel" class="form-control mb-3" formControlName="tel" placeholder="telefone" autocomplete="off">
  <input type="text" class="form-control mb-3" formControlName="endereco" placeholder="endereco" autocomplete="off">


  <div class="msg-alert" [ngClass]="{'show':formGroup.controls.nome.invalid && formGroup.controls.nome.dirty}">O campo nome deve conter pelo menos 10 caracteres.</div>
  <div class="msg-alert" [ngClass]="{'show':formGroup.controls.email.invalid && formGroup.controls.email.dirty}">O campo e-mail não é válido.</div>

  <button class="btn btn-outline-primary w-100 mt-3" type="submit" [disabled]="formGroup.invalid">Adicionar
  </button>
</form>
