<router-outlet></router-outlet>




<!-- 
<div class="container">
  <div class="card mt-5">
    <div class="p-5">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" routerLink="/c-filho">Adicionar Contato</a>
          <a class="navbar-brand" routerLink="/c-table">Lista de Contatos</a>
        </div>
      </nav>
      <br>
    </div>
  </div> -->

<!-- 
<div class="container">
  <div class="card mt-5">
    <div class="p-5">
      <h2>Agenda Telefonica</h2>
    </div>
  </div>

  <div class="container">
    <div class="card mt-5">
      <div class="p-5">
        <h2>Lista</h2>
        <app-c-table></app-c-table>
      </div>
    </div>
  </div>
</div> -->




