.blog-list {
    margin-top: 50px;
    padding-bottom: 50px;
    
    .post {
        display: inline-flex;

        padding-left: 90px;

        .cards{
            width: 250px;
            margin: 10px;
        }
    }
  
    .paginator {
      display: flex;
      align-items: center;
      justify-content: center;
  
      ul {
        padding: 0;
        margin: 0;
        display: flex;
  
        li {
          list-style: none;
          margin-right: 7px;
  
          &:last-child, &:first-child {
            margin-right: 0;
            display: none;
          }
  
          a {
            cursor: pointer;
            background-color: white;
            border: 1px solid #cacaca;
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-items: center;
            justify-content: center;
            color: #cacaca;
            text-decoration: none;
            transition: 0.3s all;
  
  
            &:hover, &.active {
              transform: translateY(-1px);
              background-color: #cacaca;
              color: white;
            }
          }
        }
      }
    }
  
  
  }
  
  