<app-blog></app-blog>
<br><br>
<section class="blog-list">
    <div class="container">
      <div class="row">
        <div class="col-6 col-lg-4">
            <div class="post" *ngFor="let item of blog.getValue()">
                <div class="card cards">
                    <img src="https://static-cse.canva.com/blob/1173244/screen3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{item.title}}</h5>
                      <p class="card-text">{{item.description}}</p>
                      <a href="#" class="btn btn-primary">Ler mais</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
  
  
      <!-- <div class="paginator">
        <ul>
          <li *ngFor="let item of paginator.getValue();">
            <a (click)="getAll(item.label,qtd)" [ngClass]="{'active':item.active}">
              {{item.label}}
            </a>
          </li>
        </ul>
      </div> -->
  
  
    </div>
  </section>
  