
<div mat-dialog-content>
  <p>{{data.msg}}</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close(false)">{{data.txtCancel}}</button>
  <button mat-button (click)="close(true)"  cdkFocusInitial>{{data.txtOk}}</button>
</div>
