<section class="blog-head">
    <div class="container">
      <div class="banner">
        <div class="conteudo">
          <h1>Blog</h1>
          <p>Conteúdo de qualidade....</p>
        </div>
  
      </div>
    </div>
</section>
  