<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th></th>
    <th>Nome</th>
    <th>Email</th>
    <th>Telefone</th>
    <th>Endereço</th>
    <th>Ações</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of dados; let i = index">
    <td>
      <mat-icon>person</mat-icon>
    </td>
    <td>{{ item.nome }}</td>
    <td>{{ item.email }}</td>
    <td>{{ item.tel }}</td>
    <td>{{ item.endereco }}</td>
    <td>
      <button (click)="excluirDado(i)" class="btn btn-danger">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </tr>
  </tbody>
</table>
